<!DOCTYPE html>
{%extends 'BloggingApp/base.html'%}
{%block body_block%}
    <style>
        h4,h5{
            colour: violet;
        }
        img{
            width:65px;
        }
    </style>
    <h4><***Watch this space for more posts***></h4>
    <br />
    {%include 'BloggingApp/pagination.html' with page=page_obj%}
    <ul>
    {%for addpost1 in post_list%}
        <img src="{{ addpost1.image.url }}">
        </li></h5>
        <a href="{{addpost1.get_absolute_url}}">{{addpost1.Name}}</a>
        <p id='date'>Posted by # {{addpost1.Name}} @{{addpost1.email}}
        in his own words: {{addpost1.Write_Post| truncatewords:30|linebreaks}}</p>
    {%endfor%}
        </li></h5>
    </ul>
{%endblock%}